body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  color: #e5e7eb;
  font-family: Roboto, sans-serif;
  height: 100vh;
}
.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  color: #f9faf8;
  font-size: 24px;
}
.logo img {
  height: 100%;
}
.container {
  padding-left: 250px;
  padding-right: 250px;
}
ul {
  list-style: none;
  padding: 0;
}
a,
.hero-secondary {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.links ul {
  display: flex;
  gap: 30px;
}

.header,
.section1 {
  background-color: #1f2937;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.section1 .hero {
  flex: 1;
}
.section1 img {
  width: 50%;
  height: auto;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-button button {
  background-color: #3882f6;
  font-size: 20px;
  padding: 10px 40px;
  color: inherit;
  border-radius: 15px;
  border: none;
}
.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2 {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cards-label {
  color: #1f2939;
  font-weight: 900;
  font-size: 36px;
  align-content: center;
}
.cards-label,
.lower-margin {
  height: 120px;
}

.card .image {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: 4px solid #3882f6;
  border-radius: 20px;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section2 .cards {
  color: #7b7c7e;
  display: flex;
  gap: 50px;
  flex: 1;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.section3 {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.quote-text {
  align-self: flex-start;
}
.quote-author {
  align-self: flex-end;
  font-size: 28px;
  font-weight: 600;
}
.section4 {
  background-color: #f9faf8;
}
.call-to-action-block {
  background-color: #3882f6;
  padding: 50px 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call-to-action-header {
  font-size: 28px;
  font-weight: 600;
}
.call-to-action-text {
  font-size: 18px;
}
.right-part button {
  font-size: 24px;
  font-weight: 600;
  color: inherit;
  background-color: transparent;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  padding: 4px 28px;
}
.footer {
  margin-top: auto;
  background-color: #1f2937;
  text-align: center;
}
.footer-content{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 25px;
}
